body{
  background-color: #04034e;
  
  color: beige;
}
table{
  width:100%;
  text-align:center;
  padding: 10px;
  font-size: 23px;
}
.decor{
  text-decoration: none;
  text-shadow: azure;
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
  padding-top: 17px;
}
.center{
text-align:center;
padding:20px;
}
.curved{
border-radius:7px;
font-size:18px;
}
.login-btn{
    font-size: 20px;
  border-radius:7px;
}
.login-btn:hover{
background-color:green;
color:yellow;
}
.decora{
  text-decoration: none;
  text-shadow: azure;
  text-transform: capitalize;
}
.decora:hover{
  font-size: 18px;
}
.decor:hover{
  font-size: 30px;
}
.nav-bar{
  background-color: #32765f;
  font-size: 20px;
}
.signup-section {
  text-align: center;
  padding: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.signup-form input {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 5px;
border-radius:15px;
}

.signup-form button {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  background-color: #3d72a7;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color:green;
	color:yellow;
}

  .signup-as-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
  }
  .signup-as-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
  }
  
  .signup-as-form input {
    width: 300px;
    height: 40px;
    margin: 5px;
    padding: 5px;
  border-radius:15px;
  }
  
  .signup-as-form button {
    width: 400px;
    height: 50px;
    margin-top: 10px;
    background-color: #3d72a7;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-as-form button:hover {
    background-color:green;
      color:yellow;
  }
